.dashboard-card{
    background:white;
    border-radius:15px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.card-icon{
    width:65px;
    height:65px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:28px;
}

.card-content h3{
    color:#666;
    margin-bottom:5px;
}

.card-content h2{
    font-size:30px;
}