.header{
    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.search-box input{

    width:100%;

    border:none;

    outline:none;

    background:transparent;

    font-size:16px;
}

.search-icon{

    color:#666;
}

.profile-section{

    display:flex;

    align-items:center;

    gap:25px;
}

.icon{

    font-size:22px;

    cursor:pointer;
}

.profile{

    display:flex;

    align-items:center;

    gap:10px;

    cursor:pointer;
}

.user-icon{

    font-size:35px;

    color:#4f46e5;
}